<% content_for :title do %>
Login
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div id="nav-bar">
      <%= link_to "Register", new_user_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for :session, url: login_path do |f| %>
    <div class="form-group">  
      <%= f.label :email, "Email or username" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>