<h1>Create Account</h1>

<%= link_to "List all users", users_path %>

<% if @user.errors.full_messages.any? %>
<ul>
  <% @user.errors.full_messages.each do |error_message| %>
  <li><%= error_message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  
  <div>
    <%= f.submit "Create Account" %>
  </div>
<% end %>