<% content_for :title do %>
Create Application
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div id="nav-bar">
      <%= link_to "Back to user page", developer_path(@developer), class: "btn btn-default" %>
      <%= link_to "Log out", logout_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<% if @application.errors.full_messages.any? %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="alert alert-danger alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <% @application.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for @application, url: developer_applications_path(@developer) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :application_type_id %>
      <%= f.select :application_type_id, options_from_collection_for_select(ApplicationType.all, :id, :name), { include_blank: true }, { class: "form-control" } %>
    </div>
    <%= f.submit "Create Application", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>