<% content_for :title do %>
Create Application
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div id="nav-bar">
      <%= link_to "Back to user page", user_path(@user), class: "btn btn-default" %>
    </div>
  </div>
</div>

<% if @application.errors.full_messages.any? %>
<ul>
  <% @application.errors.full_messages.each do |error_message| %>
  <li><%= error_message %></li>
  <% end %>
</ul>
<% end %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for @application, url: user_applications_path(@user) do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :application_type_id %>
      <%= f.select :application_type_id, options_from_collection_for_select(ApplicationType.all, :id, :name), { include_blank: true }, { class: "form-control" } %>
    </div>
    <%= f.submit "Create Application", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>